
<div  fxLayout="column" fxLayoutAlign="center center" style="background-color: cornflowerblue;" >
    <h1>A látszat néha csal</h1>
    <div  fxLayout="row" fxLayoutAlign="center center" style="margin: 20px;"><p>
        <button mat-raised-button color="primary" routerLink="/csapda2">1.szint</button>
    </p>
    <p> 
        <button mat-raised-button color="primary" style="margin-left:20px;margin-right: 20px;" routerLink="/felvonas1">csapda</button>
    </p>
    <p>
        <button mat-raised-button color="primary" routerLink="/felvonas3">Következő szint</button>
    </p>
    </div>
</div>