
<div fxLayout="column" fxLayoutAlign="center center" style="background-color: cornflowerblue;" >
    <h1>Sajnálom, innen csak 1 kép vezet vissza az előző oldalra</h1>
    <p>
        <img src="/assets/img/asd.png" (click)="openDialog()" style="cursor: pointer; padding: 30px;" width="200" height="200">
        <img src="/assets/img/asd.png" routerLink="" style="cursor: pointer;padding: 30px;" width="200" height="200">
        <img src="/assets/img/asd.png" (click)="openDialog()" style="cursor: pointer;padding: 30px;" width="200" height="200">
    </p>
    <p>
        <img src="/assets/img/asd.png" (click)="openDialog()" style="cursor: pointer; padding: 30px;" width="200" height="200">
        <img src="/assets/img/asd.png" routerLink="/csapda2" style="cursor: pointer;padding: 30px;" width="200" height="200">
        <img src="/assets/img/asd.png" routerLink="/felvonas1" style="cursor: pointer;padding: 30px;" width="200" height="200">
    </p>
    <p>
        <img src="/assets/img/asd.png" routerLink="" style="cursor: pointer; padding: 30px;" width="200" height="200">
        <img src="/assets/img/asd.png" (click)="openDialog()" style="cursor: pointer;padding: 30px;" width="200" height="200">
        <img src="/assets/img/asd.png" (click)="openDialog()" style="cursor: pointer;padding: 30px;" width="200" height="200">
    </p>
</div>